{% extends "admin/base.twig" %}
{# @hidden #}
{% block wrapper %}
<div class="loader" id="loader"><i class="fa fa-spinner fa-3x dark-hint fa-pulse" style="margin:0 auto;"></i></div>

    <nav class="bg-blue-grey-800 clearfix">
      <span class="btn transparent float-left" style="padding:12px 12.5px 0;cursor:default;"><img src="/public/img/tinylogo.png" style="max-height:100%"></span>

        <button class=" light-primary btn transparent tablet-and-less-show" style="padding:12px 12.5px 0;cursor:default;" data-toggle="slide" data-target="#menu">
            <i class="fa fa-bars fa-2x"></i>
        </button>

        <ul class="inline-menu nav light bordered tablet-to-list tablet-and-less-hide" id="menu">
            {% set config = EselAdminPanel_getConfig("EselAdminPanel") %}
            {% set menu = config.top_menu %}
            {% for item in menu %}
                <li {% if item.children|length >0 %} class="dropdown" {% endif %}>
                    <a href="{{item.url}}" target="{{item.target}}" {% if item.url==uri %} class="active" {% endif %}>{{item.anchor}}</a>
                    {% if item.children | length > 0 %}
                        <ul>
                            {% for subitem in item.children %}
                                <li>
                                    <a href="{{subitem.url}}" target="{{subitem.target}}" {% if subitem.url==uri %} class="active" {% endif %}>{{subitem.anchor}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </nav>

    <div class="nomargin row" style="margin-bottom:0;">

        <div class="col desktop-2 tablet-4 phone-12 fullheight bg-blue-grey-50" >
            {% block leftBlock %}
            <div id="app">
              <div>
                {% verbatim %}
                    <div class="leader">
                        <div class="trailer">
                            <a class="btn btn-teal" title="Create new page in current folder" :href="new_page_url">
                                <i class="fa fa-file-text-o"></i>
                            </a>
                            <button class="btn btn-orange" title="Create new subfolder in current folder" v-on:click="newFolder()">
                                <i class="fa fa-folder-o"></i>
                            </button>

                            <button v-if="((path!='/')&&(pages.length==0))" class="btn btn-red" title="Remove current folder" v-on:click="removeFolder()">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <crumbs :wrp-class="'breadcrumbs'" :path="path"></crumbs>
                    </div>

                    <pagination :page="current_page" :limit="limit" :offset="offset" :count="count"></pagination>

                {% endverbatim %}


            </div>

            <div class="dark section">
                <pages :pages="pages" :current_page="current_page" :base="'pages/?page='"></pages>
            </div>
            <pagination :page="current_page" :limit="limit" :offset="offset" :count="count"></pagination>
          </div>
          {% endblock %}
        </div>

        <div class="col desktop-10 tablet-8 phone-12 fullheight">
            {% block panel %}
                <div id="dashboard" class="leader row">
                    <div class="col tablet-4">
                        <div class="segment bg-amber-50">
                            <h2>Welcome to Esel</h2>
                            <p>There suppose to be some useful information</p>
                        </div>
                    </div>
                    <div class="col tablet-4">
                        <div class="segment bg-blue-50">
                            <h2>Welcome to Esel</h2>
                            <p>There suppose to be some useful information</p>
                        </div>
                    </div>
                    <div class="col tablet-4">
                        <div class="segment bg-teal-50">
                            <h2>Welcome to Esel</h2>
                            <p>There suppose to be some useful information</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="/public/vendor/tinymce/tinymce.min.js"></script>
    <script src="/public/vendor/vue.min.js"></script>
    <script src="/public/vendor/custom-alert.min.js"></script>
    <script src="/public/admin/common.js"></script>
    <script src="/public/admin/utils.js"></script>
    <script src="/public/admin/api.js"></script>
    <script src="/public/admin/components.js"></script>
    <script src="/public/admin/app.js"></script>
<script src="/public/js/script.js"></script>
    {% block morescripts %}{% endblock %}
{% endblock %}
